<h1>Page#index</h1>
<p>Find me in app/views/page/index.html.erb</p>
<p><%= @current %></p>
<%# <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="bingo_bet_lottery_bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>

<script type="text/javascript">
  function onTelegramAuth(user) {
    console.log(user)
    alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
  }
</script> %>